//colors
$background: #F9FCFF;


$max-width: 1280px;
$f-family: 'Montserrat';


// Font Weights

$medium: 500;
$semi-bold: 600;
$bold: 700;

// Breakpoints

$xl: 1440px;
$lg: 1250px;
$slg: 825px;
$md: 700px;
$sm: 400px;